.tour-body {
    width: 100%;
}

.tour-body .banner {
    width: 100%;
}

.tour-body .banner img.tour-image {
    max-width: 100%;
}

@media screen and (min-width: 768px) {
    .tour-body {
        display: flex;
        flex-direction: row;
    }

    .tour-body .banner {
        flex: 6;
    }

    .tour-body .tour-info {
        flex: 4;
        padding: 10px;
    }
}