#copyright-footer {
    background-color: #0a1524;
    color: white;
    display: grid;
    font-size: 0.75rem;
    grid-template-areas:
        "l l l l"
        "l l l l"
        "l l l l"
        "r r r r";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    margin-top: 20px;
    text-align: left;
}

#copyright-footer .flex-left {
    grid-area: l;
}

#copyright-footer .flex-right {
    grid-area: r;
}

@media screen and (min-width: 768px) {
    #copyright-footer {
        grid-template-areas:
            "l l l l r"
            "l l l l r"
            "l l l l r";
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
}