#home .sections-1 {
    background-color: #f2f5f8;
    display: grid;
    grid-template-areas:
        "a"
        "b"
        "c"
        "d";
    /* https://stackoverflow.com/a/61240964 */
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, minmax(0, 1fr));
    height: 400px;
    width: calc(100vw - var(--scrollbar-width));
}

#home [class^="sections-1-"] {
    background-color: white;
    margin: 10px;
    padding: 5px;
    z-index: 800;
}

#home [class^="sections-1-"] .content {
    display: flex;
    height: 100%;
}

#home [class^="sections-1-"] .content .icon {
    background-color: blue;
    border-radius: 50%;
    flex: 2;
    height: 50px;
    margin-right: 10px;
    max-width: 50px;
    padding: 5px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home [class^="sections-1-"] .content .icon span.material-icons {
    color: white;
    font-size: 40px;
    font-weight: bold;
    position: relative;
    text-align: center;
    top: 50%;
    transform: translateY(-50%);
}

#home [class^="sections-1-"] .content .text {
    flex: 8;
    height: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#home [class^="sections-1-"] .content .text .t1 {
    font-size: 12px;
    flex: 1;
    height: 20px;
    line-height: 20px;
    width: 100%;
}

#home [class^="sections-1-"] .content .text .t2 {
    color: blue;
    font-size: 12px;
    height: 20px;
    line-height: 20px;
    width: 100%;
}

#home .sections-1-a {
    grid-area: a;
}

#home .sections-1-b {
    grid-area: b;
}

#home .sections-1-c {
    grid-area: c;
}

#home .sections-1-d {
    grid-area: d;
}

@media screen and (min-width: 370px) {
    #home .sections-1 {
        grid-template-areas:
            "a b"
            "c d";
        grid-template-columns: repeat(2, minmax(0, 1fr));
        grid-template-rows: repeat(2, minmax(0, 1fr));
        height: 200px;
    }
}

@media screen and (min-width: 768px) {
    #home .sections-1 {
        grid-template-areas:
            "a b c d";
        grid-template-columns: repeat(4, minmax(0, 1fr));
        grid-template-rows: 1fr;
        height: 100px;
    }
}