* {
    box-sizing: border-box;
}

.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: block;
}

/* http://zerosixthree.se/vertical-align-anything-with-just-3-lines-of-css/ */
.horizontal-center {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

body {
    --scrollbar-width: calc(100vw - 100%);
    margin: 0;
    width: calc(100vw - var(--scrollbar-width));
}

a {
    color: inherit;
    text-decoration: none;
}

div#main-header {
    background-color: white;
    border-bottom: 1px solid black;
    left: 0px;
    position: relative;
    top: 0px;
    width: 100%;
    z-index: 1000;
}

/* having no idea how this works? see https://stackoverflow.com/a/1767270 */
div#main-header .upper {
    background-color: lightblue;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

div#main-header .upper .hotline {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

div#main-header .upper .menu {
    display: none;
    float: none;
    /* height: 100%; */
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.navigator-menu {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigator-menu li {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

ul.navigator-menu li a {
    color: blue;
    display: inline-block;
    height: 100%;
}

ul.navigator-menu li span {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
}

ul.navigator-menu li span.material-icons {
    font-size: 20px;
    padding-right: 2px;
    position: relative;
    top: 3px;
}

div#main-header .lower {
    height: 70px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

div#main-header .lower img.logo {
    display: block;
    float: left;
    max-height: 100%;
    max-width: 100%;
}

div#main-header .lower .menu {
    float: none;
    height: 100%;
    overflow: hidden;
}

div#main-header .lower .menu ul li span {
    line-height: 60px;
}

div#main-header .lower .menu-button {
    cursor: pointer;
    float: right;
    font-size: 40px;
}

#main {
    width: 100%;
}

#main ul.navigator-menu {
    display: block;
    height: 100%;
    width: 100%;
}

#main ul.navigator-menu li {
    border-bottom: 1px solid black;
    height: 20%;
    padding-bottom: 5px;
    padding-top: 5px;
}

#main ul.navigator-menu li span {
    color: blue;
    height: 50%;
}

#copyright-footer {
    background-color: #0a1524;
    color: white;
    display: grid;
    font-size: 0.75rem;
    grid-template-areas:
        "l l l l"
        "l l l l"
        "l l l l"
        "r r r r";
    grid-template-columns: repeat(4, minmax(0, 1fr));
    grid-template-rows: repeat(4, minmax(0, 1fr));
    margin-top: 20px;
    padding: 10px;
    text-align: left;
    width: 100%;
}

#copyright-footer .flex-left {
    grid-area: l;
}

#copyright-footer .flex-right {
    grid-area: r;
}

#copyright-footer .flex-right .github-link {
    display: block;
    height: 50px;
    padding: 10px;
    position: absolute;
    right: 0px;
    width: 50px;
}

#copyright-footer .flex-right .github-link img.github-logo {
    max-height: 100%;
    max-width: 100%;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2,
    h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }

    div#main-header .upper {
        padding-left: 15px;
        padding-right: 15px;
    }

    div#main-header .upper .menu {
        display: block;
    }

    div#main-header .lower {
        padding-left: 10px;
        padding-right: 10px;
    }

    #copyright-footer {
        grid-template-areas:
            "l l l l r"
            "l l l l r"
            "l l l l r";
        grid-template-columns: repeat(5, minmax(0, 1fr));
        grid-template-rows: repeat(3, minmax(0, 1fr));
    }
}