* {
    box-sizing: border-box;
}

.hide-on-mobile {
    display: none;
}

.hide-on-desktop {
    display: block;
}

body {
    margin: 0;
    --scrollbar-width: calc(100vw - 100%);
}

a {
    color: inherit;
    text-decoration: none;
}

div#main-header {
    background-color: white;
    border-bottom: 1px solid black;
    left: 0px;
    position: relative;
    top: 0px;
    width: calc(100vw - var(--scrollbar-width));
    z-index: 1000;
}

/* having no idea how this works? see https://stackoverflow.com/a/1767270 */
div#main-header .upper {
    background-color: lightblue;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    width: 100%;
}

div#main-header .upper .hotline {
    float: left;
    padding-bottom: 5px;
    padding-top: 5px;
}

div#main-header .upper .menu {
    display: none;
    float: none;
    /* height: 100%; */
    overflow: hidden;
    padding-bottom: 5px;
    padding-top: 5px;
}

ul.navigator-menu {
    align-items: center;
    display: flex;
    float: right;
    height: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.navigator-menu li {
    height: 100%;
    padding-left: 15px;
    padding-right: 15px;
}

ul.navigator-menu li a {
    color: blue;
    display: inline-block;
    height: 100%;
}

ul.navigator-menu li span {
    display: inline-block;
    font-size: 16px;
    font-weight: bold;
    height: 100%;
}

ul.navigator-menu li span.material-icons {
    font-size: 20px;
    padding-right: 2px;
    position: relative;
    top: 3px;
}

div#main-header .lower {
    height: 70px;
    overflow: hidden;
    padding: 5px;
    width: 100%;
}

div#main-header .lower img.logo {
    display: block;
    float: left;
    max-height: 100%;
    max-width: 100%;
}

div#main-header .lower .menu {
    float: none;
    height: 100%;
    overflow: hidden;
}

div#main-header .lower .menu ul li span {
    line-height: 60px;
}

/* Vertical alignment (also check out transform: translateY(-50%) below)
https://stackoverflow.com/a/13872420 */
div#main-header .lower .menu-button {
    cursor: pointer;
    float: right;
    font-size: 40px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

#main {
    /* Have to set margin-bottom here or else the copyright-footer will overlap.
    Have no idea why though. */
    margin-bottom: 150px;
}

#main ul.navigator-menu {
    display: block;
    width: calc(100vw - var(--scrollbar-width));
}

#main ul.navigator-menu li {
    border: 1px solid black;
    border-top: none;
    padding-bottom: 5px;
    padding-top: 5px;
}

#copyright-footer {
    background-color: #0a1524;
    color: white;
    font-size: 0.75rem;
    margin-top: 10px;
    padding: 10px;
    text-align: left;
    text-indent: 10%;
    width: calc(100vw - var(--scrollbar-width));
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2,
    h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) {
    .hide-on-mobile {
        display: block;
    }

    .hide-on-desktop {
        display: none;
    }

    div#main-header .upper {
        padding-left: 15px;
        padding-right: 15px;
    }

    div#main-header .upper .menu {
        display: block;
    }

    div#main-header .lower {
        padding-left: 10px;
        padding-right: 10px;
    }
}