* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.material-icons {
    cursor: default;
}

#main-header {
    height: 80px;
    padding: 5px;
}

/* having no idea how this works? see https://stackoverflow.com/a/1767270 */
#main-header a.header-signature {
    color: black;
    display: flex;
    flex-direction: row;
    height: 100%;
    overflow: hidden;
    text-decoration: none;
}

#main-header a.header-signature img.logo {
    display: block;
    max-height: 100%;
    max-width: 100%;
}

#main-header a.header-signature .company-name {
    height: 100%;
    margin: auto;
    text-align: center;
}

#main-header a.header-signature .company-name h1 {
    height: 100%;
    padding: 10px;
    margin: 0;
}

#main-header div.header-menu {
    float: right;
    height: 100%;
    /* 70px */
    line-height: 70px;
    padding: 10px;
    text-align: center;
}

#main-header div.header-menu .material-icons {
    cursor: pointer;
}

#navigator-flex #side-navigator {
    background-color: black;
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px;
    color: white;
    height: calc(100vh - 10px);
    left: 0;
    overflow: hidden;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 20px;
    position: fixed;
    top: 5px;
    width: 200px;
    z-index: 1000;
}

#navigator-flex #side-navigator .close-menu {
    height: 60px;
    width: 100%;
}

#navigator-flex #side-navigator .close-menu .material-icons {
    cursor: pointer;
    float: right;
    font-size: 40px;
}

#navigator-flex #side-navigator a {
    color: yellow;
    display: block;
    text-decoration: none;
}

#navigator-flex .opacity-layer {
    background-color: black;
    height: 100vh;
    left: 0;
    opacity: 0.5;
    position: fixed;
    top: 0;
    width: calc(100vw - 20px);
    z-index: 999;
}

#copyright-footer {
    background-color: #0a1524;
    color: white;
    font-size: 0.75rem;
    margin-top: 20px;
    padding: 40px;
    height: 150px;
    text-align: center;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.5em;
    }

    h2,
    h3 {
        font-size: 1em;
    }
}

@media screen and (min-width: 768px) {
    #main-header {
        padding-left: 50px;
        padding-right: 50px;
    }
}