div.page-header.tourism {
    background-image:
        linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
        url(/static/images/tourism-mobile.jpg);
}

div.page-content.tourism {
    padding: 20px;
}

@media screen and (min-width: 768px) {
    div.page-header.tourism {
        background-image:
            linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),
            url(/static/images/tourism-desktop.jpg);
    }
}